#container {
  margin: 0 auto;
  padding: 0 5px;
  height: 550px;
  width: 560px;
  background-color: blue;
}

.column {
  margin: 0 5px;
  height: 530px;
  width: 80px;
  display: inline-block;
}

.slot,
.red,
.yellow {
  background-color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}